h1, h2 {
    color: whitesmoke;
    text-align:center;
    size: 100px ;
    
}

h2 {
    size: 20px;
}

table {
    color: rgb(120, 180, 229) ;
    border: 1px solid rgb(120, 180, 229);
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    
}

th {
   font-size: 30px;
}