h1 {
    color: whitesmoke;
    font-family: 'Press Start 2P';
    text-align: center;
}
p1 {
    color: whitesmoke;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: larger;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.topnav{
    background-color: black;
    overflow: auto;
    width: 200%
}

.topnav a{
    float: left;
    width: 25%;
    color: rgb(255, 255, 255);
    text-align: center;

    text-decoration: none;
    font-size: 25px;

}


.topnav a:hover {
    background-color: rgb(0, 0, 0);
    color: blueviolet;
}
    .topnav a.active {
        background-color: #000000;
        color: white;
    
}
.topnav.icon{
    display: none;
}