h1, h3 {
    color: whitesmoke;
    text-align:center;
    size: 100px ;
    font-family: 'Press Start 2P' ;
    
}

h3 {
    size: 20px;
    font-family: 'Press Start 2P';
}

table {
    color: rgb(55, 96, 227) ;
    border: 1px solid rgb(55, 96, 227);
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    
}

th {
   font-size: 23px;
   font-family:'Lucida Sans',
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

.topnav{
    background-color: black;
    overflow: auto;
    width: 200%
}

.topnav a{
    float: left;
    width: 25%;
    color: rgb(255, 255, 255);
    text-align: center;

    text-decoration: none;
    font-size: 25px;

}


.topnav a:hover {
    background-color: rgb(0, 0, 0);
    color: blueviolet;
}
    .topnav a.active {
        background-color: #000000;
        color: white;
    
}
.topnav.icon{
    display: none;
}
button {
    font-family: 'Press Start 2P';


}




/*
 'Arial Narrow'