h2 {
    font-size: larger;
    color: black;
    font-family: Georgia;

}

#cranberry {
    height:200px ;
    width: 200px;
}

#blueberry {
   height: 200px;
   width: 200px;
}
#blackberry {
  height: 200px; 
  width: 200px;
}

#boysenberry{
   height: 200px;
   width: 200px;
   margin-left: auto;
   
   display: block;
}
   /*
   margin-right: 10%;

}
/* p { all p elements r changed
  .p { for the class to be changed 
  #p { unique identifier
    class = intro .p