h2 {
    font-size: larger;
    color: black;
    font-family: Georgia;

}

#cranberry {
    height:200px ;
    width: 200px;
}

#blueberry {
   height: 200px;
   width: 200px;
}
#blackberry {
  height: 200px; 
  width: 200px;
}

#boysenberry{
   height: 200px;
   width: 200px;
}